# Introduction `Lesson03`

##### Student Tags

* Author : AH Uyekita
* Title  :  _Introduction_
* Date   : 12/02/2019
* Course : Data Scientist Nanodegree Program
    * COD    : ND025
    * **Instructor:** Dave

## Quiz 20

Average Gold, Silver, and Bronze Medals

In [30]:
import numpy
from pandas import DataFrame, Series

def avg_medal_count():
    '''
    Using the dataframe's apply method, create a new Series called 
    avg_medal_count that indicates the average number of gold, silver,
    and bronze medals earned amongst countries who earned at 
    least one medal of any kind at the 2014 Sochi olympics.  Note that
    the countries list already only includes countries that have earned
    at least one medal. No additional filtering is necessary.
    
    You do not need to call the function in your code when running it in the
    browser - the grader will do that automatically when you submit or test it.
    '''

    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
    
    olympic_medal_counts = {'country_name':countries,
                            'gold': Series(gold),
                            'silver': Series(silver),
                            'bronze': Series(bronze)} 
    
    df = DataFrame(olympic_medal_counts)
    
    # YOUR CODE HERE
    
    avg_medal_count = df[['gold','silver','bronze']].apply(numpy.mean)
    
    return avg_medal_count

In [33]:
avg_medal_count()

gold      3.807692
silver    3.730769
bronze    3.807692
dtype: float64

## Quiz 22

Olympics Medal Points

In [44]:
import numpy
from pandas import DataFrame, Series


def points():
    '''
    Imagine a point system in which each country is awarded 4 points for each
    gold medal,  2 points for each silver medal, and one point for each 
    bronze medal.  

    Using the numpy.dot function, create a new dataframe called 
    'olympic_points_df' that includes:
        a) a column called 'country_name' with the country name
        b) a column called 'points' with the total number of points the country
           earned at the Sochi olympics.
           
    You do not need to call the function in your code when running it in the
    browser - the grader will do that automatically when you submit or test it.
    '''

    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
 
    # YOUR CODE HERE
    
    # Creating an array with medals.
    medals = np.array([gold, silver, bronze]) 
    
    # Creating an array with points.
    points = [4, 2, 1]
    
    # Dot product
    total_points = np.dot(points, medals)
    
    # Creating a dataframe.
    olympic_points_df = pd.DataFrame(np.array([countries, total_points]), index = ['Country','Total Points'] ).T
    
    return olympic_points_df

In [46]:
points()

           Country Total Points
0     Russian Fed.           83
1           Norway           64
2           Canada           65
3    United States           62
4      Netherlands           55
5          Germany           49
6      Switzerland           32
7          Belarus           21
8          Austria           37
9           France           31
10          Poland           19
11           China           22
12           Korea           20
13          Sweden           28
14  Czech Republic           18
15        Slovenia           16
16           Japan           15
17         Finland           11
18   Great Britain            8
19         Ukraine            5
20        Slovakia            4
21           Italy           10
22          Latvia            6
23       Australia            5
24         Croatia            2
25      Kazakhstan            1